#Database
DATABASE_URI=mongodb://localhost:27017/share

# SECRETS
JWT_SECRET=

COPYRIGHT=MrDemonWolf, Inc.
COPYRIGHT_LINK=https://www.mrdemonwolf.com

# Site
SITE_TITLE=DemonWolfDev
WEB_URL=http://localhost:3000
API_URL=http://localhost:8000

# IP, PORT, and ENV for the app to run on.
# IP=127.0.0.1
# PORT=8080
# NODE_ENV=production
