#Database
DATABASE_URI=mongodb://localhost:27017/community-bot

# Twitch
TWITCH_BOT_USERNAME=mrdemonwolfbot
TWITCH_BOT_OAUTH_TOKEN=
TWITCH_CHANNEL_NAME=mrdemonwolf
TWITCH_PREFIX=!

# Streamelements
STREAMELEMENTS_CHANNEL_ID=
STREAMELMENTS_API_KEY=

# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_ACTIVITY=Community
DISCORD_ACTIVITY_TYPE=Watching
# DISCORD_ACTIVITY_URL=

# IP, PORT, and ENV for the app to run on.
# IP=127.0.0.1
# PORT=8080
# NODE_ENV=production
